*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent{
    background-color: rgb(55, 55, 190);
}

img {
      width: 100%;
      height: 100px;
      object-fit: cover;
      border-radius: 10px;
    }